<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- bootstrap css -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="text-center">
        <a href="/">home</a> |
        <a href="/register">register</a> |
        <a href="/login">login</a>
     </nav>

     <h1>register</h1>

     <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form action="/register" method="POST">
                    <!-- firstname -->
                    <input type="text" placeholder="firstname" name="firstname"><br>

<!-- lastname -->
                    <input type="text" placeholder="lastname" name="lastname"><br>

<!-- gender -->
                    <input type="text" placeholder="gender" name="gender"><br>
<!-- address -->
                    <input type="text" placeholder="address" name="address"><br>
                    <!-- userole -->
                    <input type="text" placeholder="userole" name="userRole"><br>
<!-- email -->
                    <input type="text" placeholder="email" name="email"><br>
<!-- password -->
                    <input type="text" placeholder="userpassword" name="userpassword"><br>
<!-- buttonn -->
                    <button type="submit">register</button>
                </form>
            </div>
        </div>
     </div>

</body>
</html>